* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --secondary: hsl(288, 63%, 70%);
}

body {
  background-color: #161216;
  user-select: none;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}

button {
  border: none;
}

.ADFirst {
  height: 70vh;
  width: 15rem;
  position: fixed;
  background-color: #b33939;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.ADSecond {
  height: 70vh;
  width: 15rem;
  position: fixed;
  background-color: #b33939;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.ADMain {
  height: 12rem;
  width: calc(100% - 2rem);
  background-color: #b33939;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto;
  display: none;
}

@media screen and (max-width: 1800px) {
  .ADFirst,
  .ADSecond {
    width: 12rem;
  }
}

@media screen and (max-width: 1500px) {
  .ADFirst,
  .ADSecond {
    width: 10rem;
  }
}

@media screen and (max-width: 1300px) {
  .ADFirst,
  .ADSecond {
    display: none;
  }
  .ADMain {
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}
