#resetPassword {
  height: calc(100vh - 208px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#resetPassword > article {
  display: flex;
  justify-content: center;
  max-height: 30rem;
  border-radius: 5px;
  background-color: #161216;
}

.resetPasswordForm {
  transform: scale(1) !important;
  margin: 0 !important;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

@media screen and (max-width: 500px) {
  #resetPassword > article {
    max-height: 100vh;
    margin-top: 13rem;
  }
}
