#footer {
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  flex-wrap: wrap;
}

#footer > aside {
  width: 40%;
}

#footer_left {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

#footer_left > div > svg {
  fill: var(--secondary);
  width: 2rem;
}

#footer_right {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

#footer_right > button {
  padding: 0.5rem 1.2rem;
  background-color: lightgrey;
  border-radius: 7px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

#footer_logo {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/konogima-logo.png");
}

@media screen and (max-width: 900px) {
  #footer > aside {
    width: auto;
    gap: 1rem;
  }
}

@media screen and (max-width: 650px) {
  #footer {
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 460px) {
  #footer_right {
    flex-direction: column;
  }
}
