#footer {
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: #1b171b;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

#footer > aside {
  width: 40%;
}

#footer_left {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

#footer_left > div {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff3f34;
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_left > div > svg {
  fill: var(--secondary);
  width: 2rem;
  height: 2rem;
}

#footer_right {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

#footer_right div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#footer_right button {
  padding: 0.4rem 1.2rem;
  background-color: lightgrey;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Outfit";
  font-weight: bold;
  white-space: nowrap;
}

#footer_right > button {
  user-select: text;
  cursor: text;
}

#footer_logo {
  width: 6rem;
  height: 5.4rem;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/LogoChristmas.png");
}

@media screen and (max-width: 1200px) {
  #footer > aside {
    width: auto;
    gap: 1rem;
  }
}

@media screen and (max-width: 950px) {
  #footer {
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  #footer_right {
    flex-direction: column;
  }
}
