#anime {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}

#anime > h1 {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

#anime > h1:nth-child(2) {
  margin-bottom: 4rem;
}

#anime_aside_wrapper {
  display: flex;
  gap: 1.4rem;
}

#anime_aside_wrapper > aside:first-child {
  display: flex;
  flex-direction: column;
}

#anime_background {
  width: 22rem;
  aspect-ratio: 7/10;
  background-color: lightgrey;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#anime_views {
  display: flex;
  gap: 1rem;
  margin: 0.7rem 0;
  align-items: center;
}

.anime_comment article {
  margin-top: 1rem;
}

#anime_views > svg {
  fill: var(--secondary);
}

#anime_views > span {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

#anime_ratings_wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
}

#anime_ratings_wrapper > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#anime_ratings_wrapper > div > svg {
  cursor: pointer;
  transition: 0.2s;
}

#anime_ratings_wrapper > div > span {
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
}

#anime_ratings_wrapper > div:nth-of-type(1) > svg {
  fill: #55efc4;
}

#anime_ratings_wrapper > div:nth-of-type(1) > svg:hover {
  transform: rotate(-10deg) translateY(-0.2rem);
}

#anime_ratings_wrapper > div:nth-of-type(2) > svg {
  fill: #ff7675;
}

#anime_ratings_wrapper > div:nth-of-type(2) > svg:hover {
  transform: translateY(0.2rem);
}

#anime_aside_wrapper > aside:last-child {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

#anime_aside_wrapper > aside:last-child > div > ul {
  padding: 0;
  margin: 0;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
}

#anime_aside_wrapper > aside:last-child > div > ul > li {
  color: lightgrey;
  font-weight: 400;
  list-style-type: none;
  font-size: 1.4rem;
}

#anime_aside_wrapper > aside:last-child > div > ul > li > span {
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 0.4rem;
}

#anime_aside_wrapper > aside:last-child > h4 {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--secondary);
}

#anime_aside_wrapper > aside:last-child > p {
  color: lightgrey;
  font-size: 1.1rem;
  font-weight: 400;
}

#anime iframe {
  margin-top: 2rem;
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
}

#anime_comments_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

#anime_comments_count {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#anime_comments_count > svg {
  fill: var(--secondary);
}

#anime_comments_count > span {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

#anime_comments_wrapper > textarea {
  resize: none;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: lightgrey;
  border: none;
  box-sizing: border-box;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  height: 12rem;
}

#anime_comments_wrapper > textarea:focus {
  outline: none;
}

#anime_add_comment {
  align-self: flex-end;
  padding: 0.5rem 1.3rem;
  background-color: var(--secondary);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 0.8rem;
  transition: 0.2s;
}

#anime_add_comment:hover {
  transform: translateY(-0.2rem);
}

#anime_comments {
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.anime_comment {
  display: flex;
  gap: 1rem;
}

.anime_user_profile {
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 3.5rem;
  height: 3.5rem;
}

.anime_comment_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.anime_comment_info span {
  font-size: 1.1rem;
  color: var(--secondary);
  font-weight: bold;
}

.anime_comment_info p {
  color: lightgrey;
  font-size: 1rem;
  font-weight: 400;
}

.anime_comment_actions_wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.anime_comment_actions_wrapper > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.anime_comment_actions_wrapper > div > div {
  cursor: pointer;
  transition: 0.2s;
}

.anime_comment_actions_wrapper > div > div:hover {
  transform: scale(1.1);
}

.anime_comment_actions_wrapper > div > div > svg {
  width: 25px;
}

.anime_comment_actions_wrapper > div > div > svg:nth-child(1) {
  fill: #55efc4;
}

.anime_comment_actions_wrapper > div > div:nth-child(3) > svg {
  fill: #ff7675;
}

.anime_comment_actions_wrapper > span {
  font-size: 1rem;
  color: var(--secondary);
  font-weight: bold;
  cursor: pointer;
}

.anime_load_comments {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  cursor: pointer;
}

#iframe_wrapper {
  position: relative;
}

#video_options {
  width: auto;
  height: 2rem;
  position: absolute;
  top: 3rem;
  display: flex;
  gap: 1rem;
  right: 1.5rem;
}

#anime_info_wrapper {
  gap: 4rem;
  display: flex;
  flex-direction: row;
}

#video_options > aside {
  display: flex;
  flex-direction: column;
  position: relative;
}

#video_options > aside div {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--secondary);
}

#video_options > aside svg {
  width: 25px;
  height: 25px;
  fill: var(--primary);
  transform: rotate(180deg);
  transition: 0.4s;
}

.animeDropSvg > svg {
  transform: rotate(0deg) !important;
}

#video_options aside > ul {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 110%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  transform: translateY(1rem);
  max-height: 15rem;
  overflow-y: scroll;
  border-radius: 5px;
}

#video_options aside > ul::-webkit-scrollbar-track {
  background-color: var(--secondary);
}

#video_options aside > ul::-webkit-scrollbar-thumb {
  background-color: black;
}

.triggeredAnimeDrop {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0rem) !important;
}

#video_options aside > ul > li {
  list-style-type: none;
  padding: 0.5rem 1.1rem;
  background-color: var(--secondary);
  font-weight: bold;
  cursor: pointer;
}

#video_options aside > ul > li:hover {
  background-color: lightgrey;
}

#video_options aside > ul > li:last-child {
  border-radius: 0px 0px 5px 5px;
}

@media screen and (max-width: 1200px) {
  #anime {
    width: 75%;
  }
}

@media screen and (max-width: 1000px) {
  #anime {
    width: 90%;
  }
  /* #anime iframe {
    height: 45vw;
  } */
}

@media screen and (max-width: 900px) {
  #anime_aside_wrapper {
    flex-direction: column;
  }
  #anime_info_wrapper {
    display: flex;
    gap: 3rem;
    margin: 0.5rem 0;
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  #anime_aside_wrapper {
    flex-direction: column;
  }
  #anime_info_wrapper {
    display: flex;
    gap: 0.4rem;
    margin: 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  /* #video_options {
    flex-direction: column;
  } */
  #video_options aside > ul {
    top: 100%;
  }
  #video_options > aside div {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    gap: 0.4rem;
  }
  #video_options {
    gap: 0.5rem;
  }
  #video_options > aside svg {
    width: 18px;
    height: 18px;
  }
  #anime iframe {
    aspect-ratio: 10/10;
  }
  #video_options aside > ul > li:first-child {
    border-radius: 5px 5px 0px 0px;
  }
  #video_options aside > ul > li {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    gap: 0.4rem;
  }
}

@media screen and (max-width: 500px) {
  #anime_aside_wrapper > aside:first-child {
    margin: auto;
  }
  .anime_user_profile {
    min-width: 2.5rem;
    height: 2.5rem;
  }
  .anime_comment {
    gap: 0.5rem;
    overflow-x: scroll;
  }

  .anime_comment::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  #anime_background {
    width: 100%;
  }

  #anime_aside_wrapper > aside:first-child {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #video_options aside > ul {
    top: 100%;
  }
  #video_options > aside div {
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 0.2rem 0.5rem;
    gap: 0.4rem;
  }
  #video_options aside > ul > li {
    font-size: 0.6rem;
    font-weight: bolder;
  }
}

@media screen and (max-width: 350px) {
  #video_options > aside div {
    font-size: 0.7rem;
  }
}
