#admin {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  overflow-y: scroll;
  min-height: calc(100vh - 240px);
  overflow-x: hidden;
}

#admin > section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
}

#admin::-webkit-scrollbar {
  width: 0px;
}

#admin_list {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

#admin_list > article {
  display: flex;
  margin-left: 3rem;
  align-items: center;
  gap: 0.7rem;
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
}

#admin_list > article > div {
  width: 2rem;
  height: 2rem;
  position: relative;
  background-color: var(--secondary);
  border-radius: 100px;
  display: flex;

  align-items: center;
  justify-content: center;
}

#admin_list > article > div::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100px;
  background-color: #c059d9;
}

#admin_list > div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#admin_list > div > button {
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  color: #cccc;
  background-color: #1c1c1c;
  font-weight: bold;
  border-radius: 3px;
  overflow: hidden;
  font-size: 1.1rem;
  position: relative;
}

#admin_list > div > button::after {
  content: "";
  left: 0;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: #242424;
  width: 100%;
  height: 0.3rem;
}

.specialAdminBtn {
  background-color: var(--secondary) !important;
  color: black !important;
}

.admin_anime {
  /* width: 100%;
  height: 18rem; */
  cursor: pointer;
  aspect-ratio: 7/10;
  border-radius: 10px;
  transition: 0.2s;
  position: relative;
  background-color: lightgrey;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.specialAdminBtn::after {
  display: none !important;
}

.admin_anime:hover div {
  transform: scale(1);
  border-radius: 10px;
  opacity: 1;
}

.admin_anime > div {
  position: absolute;
  transform: scale(0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
  bottom: 0;
  display: flex;
  align-items: center;
  border-radius: 100px 100px;
  justify-content: center;
  background-color: hsla(0, 100%, 0%, 70%);
  transition: 0.2s;
  opacity: 0;
}

.admin_anime > div > svg {
  fill: var(--secondary);
  width: 70px;
  height: 70px;
}

#admin_anime_add {
  position: fixed;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: var(--secondary);
  border-radius: 5px;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 2rem;
  transition: 0.2s;
  z-index: 10;
  cursor: pointer;
}

#admin_anime_add:hover {
  transform: translate(-50%, -0.3rem);
}

#admin_anime_add > span {
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
}

#admin_anime_add > svg {
  width: 35px;
  height: 35px;
  fill: var(--primary);
}

@media screen and (max-width: 1000px) {
  #admin {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  #admin {
    gap: 1rem;
  }
}

/* @media screen and (max-width: 600px) {
  #admin > section {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  #admin > section {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
} */
