#admin {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
  overflow-y: scroll;
  min-height: calc(100vh - 208px);
  overflow-x: hidden;
}

#admin::-webkit-scrollbar {
  width: 0px;
}

.admin_anime {
  width: 100%;
  height: 18rem;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
  position: relative;
  background-color: lightgrey;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.admin_anime:hover div {
  transform: scale(1);
  border-radius: 10px;
  opacity: 1;
}

.admin_anime > div {
  position: absolute;
  transform: scale(0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
  bottom: 0;
  display: flex;
  align-items: center;
  border-radius: 100px 100px;
  justify-content: center;
  background-color: hsla(0, 100%, 0%, 70%);
  transition: 0.2s;
  opacity: 0;
}

.admin_anime > div > svg {
  fill: var(--secondary);
  width: 70px;
  height: 70px;
}

#admin_anime_add {
  position: fixed;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: var(--secondary);
  border-radius: 5px;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 2rem;
  transition: 0.2s;
  z-index: 10;
  cursor: pointer;
}

#admin_anime_add:hover {
  transform: translate(-50%, -0.3rem);
}

#admin_anime_add > span {
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
}

#admin_anime_add > svg {
  width: 35px;
  height: 35px;
  fill: var(--primary);
}

@media screen and (max-width: 1000px) {
  #admin {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  #admin {
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #admin {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  #admin {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
