#anime_card {
  /* width: 15rem;
  height: 20rem; */
  background-color: lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: flex-start;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 7/10;
}

#anime_card:hover {
  box-shadow: 0px 0px 30px var(--secondary);
}
#anime_card h4 {
  background-color: white;
  width: fit-content;
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
}

#anime_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#anime_info > span {
  padding: 0.5rem;
  background-color: #fd79a8;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

.anime_hover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.anime_hover > svg {
  opacity: 0;
  visibility: hidden;
  width: 5em;
  transform: scale(0.5);
  transition: 0.4s ease;
  fill: var(--secondary);
}

.anime_hover:hover {
  background-color: hsla(210, 100%, 0%, 0.9);
}

.anime_hover:hover svg {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.anime_hover:hover span {
  color: white;
}

.anime_hover > span {
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.2s ease;
}
