nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  user-select: none;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
}

nav::after {
  content: "";
  display: block;
  height: 0.2rem;
  background: linear-gradient(
    90deg,
    hsla(288, 63%, 70%, 0.3) 9.92%,
    hsl(288, 63%, 70%) 49.71%,
    hsla(288, 63%, 70%, 0.3) 90.26%
  );
  position: absolute;
  left: 40%;
  width: 20%;
  top: 100%;
  transition: 0.4s;
  opacity: 0;
}

.nav_logo_name {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.5rem;
  transform: translateY(0.4rem);
}

.scrollNav::after {
  left: 0% !important;
  width: 100%;
  opacity: 1 !important;
}

nav > aside {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#nav_logo {
  width: 5rem;
  height: 4.1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("../../assets/images/konogima-logo.webp");
}

#nav_auth {
  display: flex;
  gap: 2rem;
}

#nav_auth > button {
  padding: 0.5rem 1.4rem;
  border-radius: 10px;
  background-color: var(--secondary);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  position: relative;
  height: fit-content;
}

#nav_auth > button::after {
  border-radius: 10px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px var(--secondary);
  opacity: 0;
}

#nav_auth > button:hover:after {
  opacity: 1;
}

#nav_avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

#nav_menu {
  position: relative;
}

#nav_menu_logo {
  cursor: pointer;
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#nav_menu_logo > svg {
  width: 100%;
  height: 100%;
}

/* #nav_menu > div > ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  top: 100%;
  right: 0;
  width: auto;
  margin-top: 1rem;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#nav_menu > div > ul::-webkit-scrollbar {
  width: 25px;
}

/* Track */
/* #nav_menu > div > ul::-webkit-scrollbar-track {
  background: transparent;
} */

/* Handle */
/* #nav_menu > div > ul::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  background-clip: padding-box;
}

#nav_menu > div > ul {
  width: calc(100% + 2rem);
}

#nav_menu > div > ul > li {
  list-style-type: none;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}
 #nav_menu > div > ul > li:hover {
  background-color: var(--secondary);
} */

.triggeredDropdown {
  opacity: 1 !important;
  transform: scale(1) !important;
  visibility: visible !important;
}

.triggerMenu {
  animation: menuAnimTwo 1s ease infinite;
}

@keyframes menuAnimTwo {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#nav_avatar > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border-radius: 5px;
  align-items: center;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

#nav_avatar > div > a {
  text-decoration: none;
  padding: 0.8rem 1.1rem;
  width: 100%;
  font-weight: bold;
  color: black;
  font-size: 1.1rem;
  text-align: center;
}

#nav_avatar > div > a:first-child {
  border-radius: 5px 5px 0 0;
}

#nav_avatar > div > a:last-child {
  border-radius: 0 0 5px 5px;
}

#nav_avatar > div > a:hover {
  background-color: #c754e4;
}

.triggerProfile {
  top: 130% !important;
  opacity: 1 !important;
  visibility: visible !important;
}

#nav_res_menu {
  overflow: hidden !important;
}

#nav_res_menu_trigger {
  display: none;
}

.res_login {
  display: none;
  color: var(--secondary);
  font-size: 1.2rem;
  font-weight: bold;
}

#new_nav {
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -18rem;
  box-shadow: 0px 0px 30px var(--secondary);
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 100;
  transition: 0.4s;
}

.triggerNewDrop {
  right: 0 !important;
}

#new_nav > h1 {
  font-size: 1.7rem;
  color: white;
  margin: 1rem 0;
  margin-top: 1.5rem;
  font-weight: 600;
}

#new_nav > h1:first-child {
  margin-top: 6rem;
}

#new_nav > fieldset {
  padding: 0.6rem 0.8rem;
  margin: 0;
  display: flex;
  gap: 1rem;
  border: none;
  align-items: center;
  background-color: #1c1c1c;
  border-radius: 5px;
}

.triggerSearchAnim {
  box-shadow: 0px 0px 15px var(--secondary);
}

#new_nav > fieldset > input {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  width: 100%;
}

#new_nav > fieldset > input:focus {
  outline: none;
}

#new_nav > fieldset > svg {
  min-width: 20px;
  height: 20px;
}

#new_nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.8rem;
  flex-grow: 1;
  overflow-y: scroll;
}

#new_nav ul::-webkit-scrollbar {
  width: 0px;
}

#new_nav ul li {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0.8rem;
  align-items: center;
  background-color: #1c1c1c;
  border-radius: 5px;
  cursor: pointer;
  /* transition: 0.4s; */
  width: 100%;
}

#new_nav ul li:hover {
  background-color: #2e2e2e;
}

#new_nav ul li div {
  background-color: #141414;
  border-radius: 5px;
  min-width: 2rem;
  min-height: 2rem;
  height: 100%;
  transition: 0.4s;
}

#new_nav ul li span {
  color: #cccccc;
  font-size: 1.1rem;
  word-break: break-all;
}

#new_nav > div {
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

#new_nav > div span {
  color: black;
  font-size: 1.2rem;
}

#new_nav > div div {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 2rem;
  background-color: #141414;
}

#new_nav > div div svg {
  min-width: 20px;
  height: 20px;
  fill: var(--secondary);
  transform: rotate(180deg);
}

.filtered_genre {
  background-color: #10ac84 !important;
}

.filterShake {
  animation: shake 1s infinite;
}

@keyframes shake {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 800px) {
  .nav_logo_name {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  nav > aside {
    gap: 2rem;
  }
  #nav_auth {
    gap: 1rem;
  }
}

@media screen and (max-width: 590px) {
  nav {
    padding: 1rem;
  }
  .nav_logo_name {
    transform: translate(0);
  }
  .res_login {
    display: block;
  }

  #nav_res_menu_trigger {
    display: block;
  }

  nav > aside {
    gap: 1.5rem;
  }
  #nav_menu > div > ul {
    grid-template-columns: 1fr;
    width: 100%;
  }
  #nav_menu > div > ul > li {
    font-size: 1.1rem;
    padding: 0.8rem 1rem;
  }

  #nav_auth {
    display: none;
  }
  #nav_logo {
    width: 4rem;
    height: 3.3rem;
  }
  #nav_menu_logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  #nav_avatar {
    width: 3rem;
    height: 3rem;
  }
  .nav_logo_name {
    font-size: 1.1rem;
  }
  #new_nav > h1 {
    font-size: 1.5rem;
  }
  #new_nav > h1:first-child {
    margin-top: 5rem;
  }
  #new_nav ul li span {
    font-size: 1rem;
  }
  #new_nav > div span {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  #new_nav > h1 {
    margin: 0.8rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 350px) {
  #nav_menu > div > ul {
    grid-template-columns: 1fr;
    width: 100%;
  }
  #nav_menu > div > ul > li {
    font-size: 0.9rem;
    padding: 0.8rem 1rem;
  }
  #nav_auth {
    display: none;
  }
}

@media screen and (max-width: 330px) {
  .nav_logo_name {
    display: none;
  }
}
